body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul,li,h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;

}
ul{
  list-style: none;
}
a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  display: block;
}
.w_1440{
  width: 1440px;
  margin: 0 auto;
  position:relative;
}


.more{
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #134aa9;
  font-size: 14px;
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
}
.more::after{
  content: "";
  width: 70px;
  height: 70px;
  line-height: 70px;
  border: 1px solid #134aa9;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
}
.more::before{
  content: "";
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background: #134aa9;
  display: block;
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%) scale(0); 
  transition: all 0.2s;
  z-index: -1;
}
.more:hover {
  color: #fff;
}
.more:hover::before{
  transform: translateY(-50%) scale(1);
}
.more:hover::after{
  opacity: 0;
}